// @import '../../shared/styles/variables.scss'; 
@import '../../shared/variables.scss'; 

.header {
  background-color: $primary-dark;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: $secondary-light;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  & a {
    text-decoration: none;
    color: $secondary-light;
  }
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px; 
}

.menu {
  display: flex;
  padding: 0 20px;
}

.menu-item {
  list-style: none;
  padding: 0 10px;
}

.login-link {
  display: inline-block; 
  margin-left: 20px; 
}

.left-container {
  display: flex; 
  align-items: center; 
  margin-left: 30px; 
}

.right-container {
  display: flex; 
  align-items: center; 
  margin-right: 30px; 
}